:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1397px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #222222;
  --btn-color: #FB4B4D;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  color: var(--black-color);
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

ul {
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.border-box {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

@media (max-width: 1430px) {
  .site-container {
    min-width: 1430px;
  }
}

.header__wrapper {
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
}
.header__btn {
  color: var(--light-color);
  background-color: var(--btn-color);
  padding: 15px 44px;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__list:not(:last-child) {
  margin-right: 30px;
}
.menu__link {
  padding: 15px 44px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
}
.hero__item-img {
  padding: 22px;
}
.hero__item-img:last-child {
  border-top: 1px solid #000;
}
.hero__item-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.hero__item-title {
  padding: 20px 0px;
  font-weight: 400;
  font-size: 58px;
  line-height: 65px;
  max-width: 536px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}
.item-left {
  width: 50%;
  border-right: 1px solid #000;
}

.ticker {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.ticker__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ticker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 24px 0px;
  -webkit-animation: ticker 5s linear infinite;
  animation: ticker 5s linear infinite;
}
.ticker__icon {
  margin: 0 30px;
}

.item-right {
  width: 50%;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker {
  position: relative;
  overflow: hidden;
}

.ticker__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticker__item {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 24px 0px;
  -webkit-animation: ticker 5s linear infinite;
  animation: ticker 5s linear infinite;
}

@keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.product__top {
  border-bottom: 1px solid #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product__top::before {
  position: absolute;
  content: "";
  background-image: url(../img/product-scorpion.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 225px;
  height: 156px;
  left: 30px;
}
.product__top::after {
  position: absolute;
  content: "";
  background-image: url(../img/product-scorpion2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 225px;
  height: 156px;
  right: 30px;
}
.product__top-title {
  font-weight: 400;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
  max-width: 785px;
  margin: 0 auto;
  padding: 60px 50px;
}
.product__content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}
.product__content-decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product__content-decoration img:nth-child(2) {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}
.product__content-decoration img:nth-child(3) {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.product__content-item {
  background-image: url(../img/product-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.product__content-card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 658px;
}
.product__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.product__content-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}

.story__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #000;
}
.story__title {
  margin: 0;
  font-weight: 400;
  font-size: 58px;
  line-height: 65px;
  padding: 50px 55px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}
.story__img img {
  display: block;
}
.story__info {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.story__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}
.story__info p:not(:last-child) {
  margin-bottom: 20px;
}
.story-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  border-right: 1px solid #000000;
}

.story-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  background-image: url(../img/story-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner__img img {
  display: block;
  width: 100%;
  margin-top: -180px;
}

.footer__wrapper {
  border: 1px solid #000;
  background-color: #CDFD3B;
  padding: 20px 93px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__link {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */