.footer {
  &__wrapper {
    border: 1px solid #000;
    background-color: #CDFD3B;
    padding: 20px 93px;
    }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {}

  &__link {
    font-size: 15px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
  }
}