.header {
  &__wrapper {
    padding: 22px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
  }

  &__btn {
    color: var(--light-color);
    background-color: var(--btn-color);
    padding: 15px 44px;
    text-transform: uppercase;
  }
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    padding: 15px 44px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;   
  }
}

.logo {
}