.story {
  &__wrapper {
    display: flex;
    border-top: 1px solid #000;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 65px;
    padding: 50px 55px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
  }

  &__img {
    img {
      display: block;
    }
  }

  &__info {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #000000;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__text {}
}

.story-left {
  flex: 0 1 50%;
  border-right: 1px solid #000000;
}

.story-right {
  flex: 0 1 50%;
  background-image: url(../img/story-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}