<section class="big-ticker">
  <div class="container">
    <div class="hero__item-phrase ticker border-box">
      <div class="ticker__wrapper">
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
        <div class="ticker__item">
          put some fire in your belly
          <img src="img/hero-decor.svg" alt="paper" aria-hidden="true" class="ticker__icon">
        </div>
      </div>
    </div>
  </div>
</section>

