<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__btn">Go back</a>
      <nav class="nav">
        <ul class="menu">
          <li class="menu__list">
            <a href="#" class="menu__link">story</a>
          </li>
          <li class="menu__list">
            <a href="#" class="menu__link">shop</a>
          </li>
        </ul>
        <div class="logo">
          <img src="img/logo.svg" alt="logo">
        </div>
        <ul class="menu">
          <li class="menu__list">
            <a href="#" class="menu__link">contact</a>
          </li>
          <li class="menu__list">
            <a href="#" class="menu__link">wholesale</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header__btn">clone</a>
    </div>
  </div>
</header>
