<section class="product">
  <div class="container">
    <div class="product__wrapper border-box">
      <div class="product__top">
        <h2 class="product__top-title">THROW SOME LAVA IN YOUR JAVA</h2>
      </div>
      <div class="product__content">
        <div class="product__content-decoration">
          <img src="img/product-dec1.svg" alt="">
          <img src="img/product-dec2.svg" alt="">
          <img src="img/product-dec2.svg" alt="">
          <img src="img/product-dec1.svg" alt="">
        </div>
        <div class="product__content-item">
          <div class="product__content-card">
            <p class="product__content-text">tangy and tingly</p>
            <h3 class="product__content-title">LIGHT ROAST BLEND</h3>
            <img src="img/product1.png" alt="" class="product__content-img">
          </div>
        </div>
        <div class="product__content-item">
          <div class="product__content-card">
            <p class="product__content-text">light & dark roast</p>
            <h3 class="product__content-title">UJJO SAMPLER PACK</h3>
            <img src="img/product2.png" alt="" class="product__content-img">
          </div>
        </div>
        <div class="product__content-item">
          <div class="product__content-card">
            <p class="product__content-text">tangy and tingly</p>
            <h3 class="product__content-title">LIGHT ROAST BLEND</h3>
            <img src="img/product3.png" alt="" class="product__content-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>